<app-project-filter (searchProject)="onSearchProject($event)" (filterByStatus)="onFilterByProjectStatus($event)" (filterByType)="onFilterByProjectType($event)"></app-project-filter>

<table class="table table-bordered w-100">
    <thead>
        <tr>
            <th>Project</th>
            <th>Status</th>
            <th>Owner</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of projects" (click)="onProjectClick(project)" [ngClass]="{'active-project':getActiveProjectClass(project)}" [routerLink]="['/projects',project.id]">
            <td>{{ project.name }}</td>
            <td>{{ project.status }}</td>
            <td>{{ project.owner }}</td>
            <td>
                <app-project-type [projectType]="project.type"></app-project-type>
            </td>
        </tr>
    </tbody>
</table>